.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 48px;
  max-width: 1520px;
  width: 100%;
  margin: 0 auto;
  padding: 50px;
}

.itemContainer {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.application {
  display: flex;
  gap: 24px;
}

.textApplication {
  color: var(--text_primary);
  font-size: 30px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.formBlock {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 60px 50px;
  width: 100%;
  border-radius: 50px;
  background: var(--background_card);
}

.sendContainer {
  display: flex;
  align-items: center;
  gap: 24px;
}

@media screen and (max-width: 800px) {
  .application {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  .textApplication {
    text-align: center;
  }
}
