@keyframes showContainer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  transition: 0.2s;
  animation: showContainer linear 0.2s;
}

@keyframes empty {
  /*Для срабатывания события onAnimationEnd при закрытии модалки*/
}

.container.hidden {
  pointer-events: none;
  opacity: 0;
  animation: empty linear 0.2s;
}

.hidden .contentContainer {
  scale: 0.5;
  transition: 0.2s;
}

@keyframes showContent {
  0% {
    scale: 0.5;
  }
  100% {
    scale: 1;
  }
}

.contentContainer {
  position: relative;
  width: 70% !important;
  max-height: 70%;
  animation: showContent linear 0.2s;
}

.content {
  padding: 24px;
  border-radius: 16px;
  background: var(--background_page);
}

.buttonCloseContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-self: center;
  top: 0;
  right: -62px;
  background: var(--background_page);
  width: 50px;
  height: 50px;
  border-radius: 100px;
  cursor: pointer;
}

.buttonCloseContainer:hover {
  opacity: 0.8;
}

.buttonClose {
  display: flex;
  align-items: center;
  justify-self: center;
  margin-left: auto;
  margin-right: auto;
  width: 2.5px;
  height: 60%;
  background: var(--text_secondary);
  transform: rotate(45deg);
}

.buttonClose::before {
  content: "";
  display: flex;
  align-items: center;
  justify-self: center;
  margin-left: auto;
  margin-right: auto;
  width: 2.5px;
  height: 100%;
  background: var(--text_secondary);
  transform: rotate(-90deg);
}
