.container {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  gap: 12px;
}

.container.active {
  transform: scale(1);
  opacity: 1;
  pointer-events: all;
}

.contentContainer {
  transform: scale(0.5);
  transition: 0.4s;
  position: relative;
  width: 70% !important;
  max-height: 70%;
}

.contentContainer.active {
  transform: scale(1);
}

.content {
  padding: 24px;
  border-radius: 16px;
  background: var(--background_page);
}

.buttonCloseContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-self: center;
  top: 0px;
  right: -62px;
  background: var(--background_page);
  width: 50px;
  height: 50px;
  border-radius: 100px;
  cursor: pointer;
}

.buttonCloseContainer:hover {
  opacity: 0.8;
}

.buttonClose {
  display: flex;
  align-items: center;
  justify-self: center;
  margin-left: auto;
  margin-right: auto;
  width: 2.5px;
  height: 60%;
  background: var(--text_secondary);
  transform: rotate(45deg);
}

.buttonClose::before {
  content: "";
  display: flex;
  align-items: center;
  justify-self: center;
  margin-left: auto;
  margin-right: auto;
  width: 2.5px;
  height: 100%;
  background: var(--text_secondary);
  transform: rotate(-90deg);
}
