@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap");

:root {
  overflow-x: hidden;
}

.light {
  /* Light mode */
  --background_page: #ffffff;
  --background_card: #f6f6f6;
  --background_card_accent: #0073e5;
  --background_input: #efefef;

  --background_contacts_before: linear-gradient(
    90deg,
    #ffffff 0%,
    #ffffff00 100%
  );
  --background_contacts_after: linear-gradient(
    90deg,
    #ffffff00 0%,
    #ffffff 100%
  );

  /* Иконки светлые */
  --icon_accent: #0073e5;
  --icon_primary: #2f353f;
  --icon_header: #0073e5;

  /* Текст светлый */
  --text_accent: #0073e5;
  --text_accent2: #2f353f;
  --text_primary: #2f353f;
  --text_primary_reverse: #ffffff;
  --text_header: #0073e5;
  --text_secondary: #969696;
  --text_placeholder: #b5b5b5;

  /* Кнопки светлые */
  --background_button_accent: #0073e5;
}

.dark {
  /* Dark mode */
  --background_page: #2f353f;
  --background_card: #3a3e49;
  --background_card_accent: #b2cbff;
  --background_input: #2f353f;

  --background_contacts_before: linear-gradient(
    90deg,
    #2f353f 0%,
    #2f353f00 100%
  );
  --background_contacts_after: linear-gradient(
    90deg,
    #2f353f00 0%,
    #2f353f 100%
  );

  /* Иконки тёмные */
  --icon_accent: #b2cbff;
  --icon_primary: #ffffff;
  --icon_header: #ffffff;

  /* Текст тёмный */
  --text_accent: #b2cbff;
  --text_accent2: #b2cbff;
  --text_primary: #ffffff;
  --text_primary_reverse: #2f353f;
  --text_header: #ffffff;
  --text_secondary: #bfbfbf;
  --text_placeholder: #878787;

  /* Кнопки тёмные */
  --background_button_accent: #b2cbff;
}

html,
body {
  min-height: 100vh;

  font-family: "Geologica", sans-serif;
  letter-spacing: -0.5px;
  background: var(--background_page);
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.snackbar {
  min-width: 250px;
  max-width: 400px;
  background: var(--text_secondary);
  color: #fff;
  text-align: left;
  border-radius: 16px;
  padding: 16px;
  position: fixed;
  z-index: 5;
  left: 50px;
  right: 50px;
  bottom: 30px;
  animation: fadein linear .3s;
}

.snackbar.hidden {
  animation: fadeout linear .3s;
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
