.backgroundContacts {
  position: absolute;
  width: calc(100% + 100px);
  margin: -50px;
  line-height: 130px;
}

.textBGContacts {
  font-size: 130px;
  font-weight: 900;
  -webkit-text-stroke: 1px var(--text_placeholder); /* Толщина и цвет обводки */
  text-stroke: 1px var(--text_placeholder); /* Толщина и цвет обводки (стандартное свойство) */
  color: transparent; /* прозрачный цвет букв */
}

.textBGColorContacts {
  font-size: 130px;
  font-weight: 900;
  color: var(--text_accent);
}

.logoBGContacts {
  color: var(--text_placeholder);
  min-width: 60px;
  max-width: 60px;
  min-height: 60px;
  max-height: 60px;
}

.logoBGColorContacts {
  color: var(--icon_accent);
  min-width: 60px;
  max-width: 60px;
  min-height: 60px;
  max-height: 60px;
}

/*Бегущий текст*/
.itemsWrap {
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: 48px;
}

.itemsWrap:before,
.itemsWrap:after {
  content: "";
  height: 100%;
  top: 0;
  width: 10%;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

.itemsWrap:before {
  left: 0;
  background: var(--background_contacts_before);
}

.itemsWrap:after {
  right: 0;
  background: var(--background_contacts_after);
}

.items {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 48px;
  counter-reset: item;
  justify-content: space-around;
  min-width: 100%;
}

.item {
  flex: 0 0 auto;
  width: 100px;
  height: 100px;
  counter-increment: item;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin: 10px 0;
  transition: all 0.1s ease-in-out;
}

.item:before {
  content: counter(item);
}

.marquee {
  animation: scroll 60s linear infinite;
}

.reverce {
  animation-direction: reverse;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}

@media screen and (max-width: 600px) {
  .line4 {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .line3 {
    display: none;
  }

  .line4 {
    display: none;
  }
}
