.nav {
  position: fixed;
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.nav::before {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 2;
  background-color: var(--background_page);
}

.container {
  max-width: 1520px;
  margin: 0 auto;
  padding: 0 50px;
}

.navBody {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 70px;
  min-height: 70px;
  max-height: 70px;
  align-items: center;
}

.navLogo {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  z-index: 3;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
}

.navLogo:hover {
  opacity: 0.8;
}

.navLogo:active {
  opacity: 0.6;
  transition: opacity 0s ease-in;
}

.logo {
  color: var(--icon_header);
  width: 60px;
  height: 60px;
}

.textLogo {
  font-size: 24px;
  font-weight: 500;
  color: var(--text_header);
}

.afterMenu {
  display: flex;
  align-items: center;
  gap: 48px;
}

.headerBurger {
  display: none;
}

.headerMenu {
}

.headerList {
  display: flex;
  gap: 24px;
  position: relative;
  z-index: 2;
}

.buttonHeader {
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 24px;
}

.languageButton {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  color: var(--text_header);
  transition: opacity 0.2s ease-in;
}

.languageButton:hover {
  opacity: 0.8;
}

.languageButton:active {
  opacity: 0.6;
  transition: opacity 0s ease-in;
}

.themeButton {
  cursor: pointer;
  transition: opacity 0.2s ease-in;
}

.themeButton:hover {
  opacity: 0.8;
}

.themeButton:active {
  opacity: 0.6;
  transition: opacity 0s ease-in;
}

@media screen and (max-width: 900px) {
  .container {
    padding: 0 24px;
  }

  .logo {
    width: 50px;
    height: 50px;
  }

  .textLogo {
    font-size: 22px;
  }
}

@media screen and (max-width: 850px) {
  .textLogo {
    font-size: 20px;
  }
}

@media screen and (max-width: 800px) {
  .headerList {
    display: none;
  }

  .navLogo {
    gap: 12px;
  }

  //кнопка бургер меню
  .headerBurger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }

  .headerBurger::before,
  .headerBurger::after {
    content: "";
    background: var(--icon_header);
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    border-radius: 4px;
    transition: transform 0.5s ease 0s;
  }

  .headerBurger::before {
    top: 0;
  }

  .headerBurger::after {
    bottom: 0;
  }

  .headerBurger span {
    position: absolute;
    background: var(--icon_header);
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: transform 0.5s ease 0s;
  }

  .headerBurger.active span {
    transform: rotate(45deg) scale(0);
  }

  .headerBurger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }

  .headerBurger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  //конец кнопки бургер меню

  //выпадающее меню
  .headerMenu {
    display: block;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 82px 12px 24px 12px;
    transition: top 1s ease 0s;
    background: var(--background_page);
  }

  .headerMenu.active {
    top: 0;
  }

  .headerList {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
  }
  //конец выпадающего меню
}

@media screen and (max-width: 430px) {
  .container {
    padding: 0 12px;
  }

  .logo {
    width: 40px;
    height: 40px;
  }

  .textLogo {
    font-size: 20px;
  }
}

@media screen and (max-width: 370px) {
  .languageButton {
    display: none;
  }

  .themeButton {
    display: none;
  }
}
