.infoUserContainer {
  display: flex;
  gap: 24px;
}

.infoUser {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.name {
  font-size: 30px;
  font-weight: 600;
  color: var(--text_primary);
}

.position {
  color: var(--text_secondary);
  font-size: 20px;
}

.avatarContainer {
  min-width: 250px;
  max-width: 250px;
  min-height: 350px;
  max-height: 350px;
  height: auto;
  border-radius: 16px;
  background: var(--text_primary);
  margin-left: auto;
}

.avatar {
}
