.listTeam {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 48px;
}

.teamItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatarContainer {
  min-width: 200px;
  max-width: 200px;
  min-height: 200px;
  max-height: 200px;
  transition: transform 0.5s;
}

.avatarContainer:hover {
  transform: scale(105%);
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name {
  font-size: 30px;
  font-weight: 500;
  color: var(--text_accent2);
  text-align: center;
}

.position {
  color: var(--text_secondary);
  margin-top: 8px;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .listTeam {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .name {
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  .name {
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  .listTeam {
    grid-template-columns: 1fr;
  }

  .name {
    font-size: 16px;
  }
}
